.body_background 
{
    background-image: url("https://cdn.vox-cdn.com/thumbor/Mg7FwlZqsuux7vUEldqvTveIDZI=/0x0:1920x1080/1200x800/filters:focal(865x348:1171x654)/cdn.vox-cdn.com/uploads/chorus_image/image/63337005/surprise_marvel_releases_a_new_full_trailer_and_poster_for_avengers_endgame_social.0.jpg");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
